<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="94159bde-de19-483a-ae77-1218e8d4cabe" Publisher="CN=Alan" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HyperMedia.Windows</DisplayName>
    <PublisherDisplayName>Alan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HyperMedia.Windows.App">
      <m2:VisualElements DisplayName="HyperMedia" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="HyperMedia.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="hypermedia" />
        </Extension>
        <Extension Category="windows.search" />
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="hypermedia.video">
            <DisplayName>HyperMedia 视频</DisplayName>
            <Logo>Assets\Logo.png</Logo>
            <SupportedFileTypes>
              <FileType>.mp4</FileType>
              <FileType>.mkv</FileType>
              <FileType>.avi</FileType>
              <FileType>.webm</FileType>
              <FileType>.flv</FileType>
              <FileType>.mov</FileType>
              <FileType>.wmv</FileType>
              <FileType>.m4v</FileType>
              <FileType>.mpg</FileType>
              <FileType>.mpeg</FileType>
              <FileType>.ts</FileType>
              <FileType>.3gp</FileType>
              <FileType>.rmvb</FileType>
              <FileType>.vob</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="hypermedia.audio">
            <DisplayName>HyperMedia 音频</DisplayName>
            <Logo>Assets\Logo.png</Logo>
            <SupportedFileTypes>
              <FileType>.mp3</FileType>
              <FileType>.flac</FileType>
              <FileType>.wav</FileType>
              <FileType>.aac</FileType>
              <FileType>.ogg</FileType>
              <FileType>.wma</FileType>
              <FileType>.m4a</FileType>
              <FileType>.opus</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="musicLibrary" />
    <Capability Name="picturesLibrary" />
    <Capability Name="videosLibrary" />
    <Capability Name="removableStorage" />
  </Capabilities>
</Package>