<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">

  <Identity Name="ba7c3540-aa73-44fc-b507-60606ad22d52"
            Publisher="CN=Alan"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="ba7c3540-aa73-44fc-b507-60606ad22d52" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>HyperMedia.WindowsPhone</DisplayName>
    <PublisherDisplayName>Alan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="HyperMedia.WindowsPhone.App">
<m3:VisualElements
            DisplayName="HyperMedia.WindowsPhone"
            Square150x150Logo="Assets\Logo.png"
            Square44x44Logo="Assets\SmallLogo.png"
            Description="HyperMedia.WindowsPhone"
            ForegroundText="light"
            BackgroundColor="transparent">
            <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png"/>
            <m3:SplashScreen Image="Assets\SplashScreen.png"/>
        </m3:VisualElements>
        <Extensions>
          <Extension Category="windows.protocol">
            <Protocol Name="hypermedia">
              <Logo>Assets\StoreLogo.png</Logo>
              <DisplayName>HyperMedia</DisplayName>
            </Protocol>
          </Extension>
          <Extension Category="windows.fileTypeAssociation">
            <FileTypeAssociation Name="hypermedia.media">
              <DisplayName>HyperMedia 媒体</DisplayName>
              <Logo>Assets\StoreLogo.png</Logo>
              <SupportedFileTypes>
                <FileType ContentType="video/mp4">.mp4</FileType>
                <FileType ContentType="video/mp4">.m4v</FileType>
                <FileType ContentType="video/x-ms-wmv">.wmv</FileType>
                <FileType ContentType="video/3gpp">.3gp</FileType>
                <FileType ContentType="audio/mpeg">.mp3</FileType>
                <FileType ContentType="audio/wav">.wav</FileType>
                <FileType ContentType="audio/x-ms-wma">.wma</FileType>
                <FileType ContentType="audio/m4a">.m4a</FileType>
                <FileType ContentType="audio/aac">.aac</FileType>
                <FileType ContentType="audio/ogg">.ogg</FileType>
                <FileType ContentType="image/jpeg">.jpg</FileType>
                <FileType ContentType="image/jpeg">.jpeg</FileType>
                <FileType ContentType="image/png">.png</FileType>
                <FileType ContentType="image/bmp">.bmp</FileType>
                <FileType ContentType="image/gif">.gif</FileType>
              </SupportedFileTypes>
            </FileTypeAssociation>
          </Extension>
        </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>